<div class="container">
  <h1>Ver Patrocinador</h1>

  <a href="#" routerLink="/patrocinador" class="btn btn-primary">Voltar</a>

  @if (patrocinador) {
    <div>
      <strong>Id:</strong>
      <p>{{ patrocinador.id }}</p>
    </div>

    <div>
      <strong>Nome:</strong>
      <p>{{ patrocinador.nome }}</p>
    </div>

    <div>
      <strong>Nome do Representante:</strong>
      <p>{{ patrocinador.representanteNome }}</p>
    </div>

    <div>
      <strong>Status:</strong>
      <p>{{ patrocinador.status }}</p>
    </div>

  } @else {
    <p>Carregando Patrocinador...</p>
  }
</div>
